@model SocialMedia.Models.ViewModels.ProfileViewModel

@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var currentLoggedUser = await signInManager.UserManager.GetUserAsync(User);
}
<div class="container my-5">
    <div class="row bg-white shadow-sm rounded-3 p-4 mb-4">
        <div class="col-auto d-flex align-items-center">
            <img class="rounded-circle" src="@Model.ProfilePictureURL" alt="Profile Picture" width="80" height="80">
        </div>
       
        <div class="col">
            <h4 class="mb-0">@Model.FristName @Model.LastName</h4>
            <p class="text-muted mb-0">@@@Model.Username</p>
            <div class="d-block align-content-center">
                <p class="text-dark mb-0 d-inline">Followers: @Model.FollowersCount</p>
                <p class="text-dark mb-0 d-inline ms-3">Following: @Model.Following</p>
            </div>
        </div>
        <div class="col-auto d-flex align-items-center">
            <!--Checks if the current user is the same as the user profile -->
            @if (!(currentLoggedUser.Id == Model.UserID))
            {
                @if (@Model.Followers.Any(f => f.FollowOwnerId == currentLoggedUser.Id && f.FollowedUserId == @Model.UserID))
                {
                    <form asp-area="User" asp-controller="Profile" asp-action="Unfollow" method="post">
                        <input type="hidden" name="userId" value="@Model.UserID" />
                        <button type="submit" class="btn btn-lg" id="unfollow_btn"><i class="bi bi-person-dash d-flex" style="color: #dc3545; font-size: 1.75rem;"></i></button>
                    </form>
                }
                else
                {
                    <form asp-area="User" asp-controller="Profile" asp-action="Follow" method="post">
                        <input type="hidden" name="userId" value="@Model.UserID" />
                        <button type="submit" class="btn btn-lg" id="unfollow_btn"><i class="bi bi-person-add" style="color:#198754; font-size: 1.75rem;"></i></button>
                    </form>
                }

            }
        </div>
    </div>
    <div class="row bg-white shadow-sm rounded-3 p-4 mb-4">
        <div class="col-12">
            <h3 class="mb-3">My Posts</h3>
        </div>
        @foreach (var post in Model.Posts.Where(p => p.PostOwnerId == @Model.UserID))
        {
            <div class="post-card">
                <div class="post-header">
                    <div class="d-flex align-items-center">
                        <div class="me-2">
                            <img src="@Model.ProfilePictureURL" class="rounded-circle img-thumbnail" style="height: 40px; width: 40px;">
                        </div>

                        <div>
                            <h6 class="mb-0">@Model.FristName @Model.LastName</h6>
                            <small class="text-muted">@post.TimeAgo</small>
                        </div>
                        @if(currentLoggedUser.Id == Model.UserID)
                        {
                            <div class="dropdown me-2 ms-auto">
                                <!--Button for post manipulation-->
                                <button class="btn btn-sm " type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                                <!--Dropdown with all post manipulations-->
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" asp-area="User" asp-controller="Home" asp-action="DeletePost" asp-route-id="@post.PostId">Delete</a></li>
                                    <li><a class="dropdown-item" asp-area="User" asp-controller="Home" asp-action="EditPost" asp-route-id="@post.PostId">Edit</a></li>
                                </ul>
                            </div>
                        }
                    </div>
                </div>
                <div class="post-content">
                    <p>@post.Content</p>
                    @if (!string.IsNullOrEmpty(post.ImageURL))
                    {
                        <img src="@post.ImageURL" alt="Post Image" class="img-fluid" />
                    }
                </div>
            </div>
        }
    </div>

</div>

